<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="eba581180cfb4fc9b2e5c278740c98af" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_eba581180cfb4fc9b2e5c278740c98af = echarts.init(
            document.getElementById('eba581180cfb4fc9b2e5c278740c98af'), 'white', {renderer: 'canvas'});
        var option_eba581180cfb4fc9b2e5c278740c98af = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u7c7b\u522b",
            "clockwise": true,
            "data": [
                {
                    "name": "\u516b\u5366\u7c7b",
                    "value": 0
                },
                {
                    "name": "\u641e\u7b11\u7c7b",
                    "value": 8
                },
                {
                    "name": "\u8bbf\u8c08\u7c7b",
                    "value": 8
                },
                {
                    "name": "\u771f\u4eba\u79c0\u7c7b",
                    "value": 43
                },
                {
                    "name": "\u9009\u79c0\u7c7b",
                    "value": 11
                },
                {
                    "name": "\u8131\u53e3\u79c0\u7c7b",
                    "value": 15
                },
                {
                    "name": "\u60c5\u611f\u7c7b",
                    "value": 11
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "\u516b\u5366\u7c7b",
                "\u641e\u7b11\u7c7b",
                "\u8bbf\u8c08\u7c7b",
                "\u771f\u4eba\u79c0\u7c7b",
                "\u9009\u79c0\u7c7b",
                "\u8131\u53e3\u79c0\u7c7b",
                "\u60c5\u611f\u7c7b"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "2020\u5e74\u6240\u6709\u7c7b\u578b\u8282\u76ee\u6570\u91cf\u5360\u6bd4\u5206\u6790 \u997c\u72b6\u56fe",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_eba581180cfb4fc9b2e5c278740c98af.setOption(option_eba581180cfb4fc9b2e5c278740c98af);
    </script>
</body>
</html>
