<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Awesome-pyecharts</title>
            <script type="text/javascript" src="https://assets.pyecharts.org/assets/echarts.min.js"></script>

</head>
<body>
    <div id="12c956c30b81430aa9bd8d640fc19a2b" class="chart-container" style="width:900px; height:500px;"></div>
    <script>
        var chart_12c956c30b81430aa9bd8d640fc19a2b = echarts.init(
            document.getElementById('12c956c30b81430aa9bd8d640fc19a2b'), 'white', {renderer: 'canvas'});
        var option_12c956c30b81430aa9bd8d640fc19a2b = {
    "animation": true,
    "animationThreshold": 2000,
    "animationDuration": 1000,
    "animationEasing": "cubicOut",
    "animationDelay": 0,
    "animationDurationUpdate": 300,
    "animationEasingUpdate": "cubicOut",
    "animationDelayUpdate": 0,
    "color": [
        "#c23531",
        "#2f4554",
        "#61a0a8",
        "#d48265",
        "#749f83",
        "#ca8622",
        "#bda29a",
        "#6e7074",
        "#546570",
        "#c4ccd3",
        "#f05b72",
        "#ef5b9c",
        "#f47920",
        "#905a3d",
        "#fab27b",
        "#2a5caa",
        "#444693",
        "#726930",
        "#b2d235",
        "#6d8346",
        "#ac6767",
        "#1d953f",
        "#6950a1",
        "#918597"
    ],
    "series": [
        {
            "type": "pie",
            "name": "\u7c7b\u522b",
            "clockwise": true,
            "data": [
                {
                    "name": "CCTV",
                    "value": 1
                },
                {
                    "name": "cbs",
                    "value": 2
                },
                {
                    "name": "\u4e0a\u6d77\u65b0\u5a31\u4e50",
                    "value": 1
                },
                {
                    "name": "\u4e1c\u5357\u536b\u89c6",
                    "value": 4
                },
                {
                    "name": "\u4e1c\u65b9\u536b\u89c6",
                    "value": 10
                },
                {
                    "name": "\u4e2d\u592e\u7535\u89c6\u53f0\u8d22\u7ecf\u9891\u9053 CCTV-2",
                    "value": 1
                },
                {
                    "name": "\u5176\u4ed6\u680f\u76ee",
                    "value": 1
                },
                {
                    "name": "\u5317\u4eac\u536b\u89c6",
                    "value": 4
                },
                {
                    "name": "\u592e\u89c6",
                    "value": 2
                },
                {
                    "name": "\u5b89\u5fbd\u536b\u89c6",
                    "value": 1
                },
                {
                    "name": "\u5e7f\u4e1c\u536b\u89c6",
                    "value": 4
                },
                {
                    "name": "\u6c5f\u82cf\u536b\u89c6",
                    "value": 7
                },
                {
                    "name": "\u6d59\u6c5f\u536b\u89c6",
                    "value": 11
                },
                {
                    "name": "\u6df1\u5733\u536b\u89c6",
                    "value": 1
                },
                {
                    "name": "\u6e56\u5357\u536b\u89c6",
                    "value": 7
                },
                {
                    "name": "\u7f8e\u56fd",
                    "value": 1
                },
                {
                    "name": "\u817e\u8baf\u7efc\u827a\u53f0",
                    "value": 26
                },
                {
                    "name": "\u8292\u679cTV",
                    "value": 12
                }
            ],
            "radius": [
                "0%",
                "75%"
            ],
            "center": [
                "50%",
                "50%"
            ],
            "label": {
                "show": true,
                "position": "top",
                "margin": 8
            },
            "tooltip": {
                "show": true,
                "trigger": "item",
                "triggerOn": "mousemove|click",
                "axisPointer": {
                    "type": "line"
                },
                "showContent": true,
                "alwaysShowContent": false,
                "showDelay": 0,
                "hideDelay": 100,
                "formatter": "{a} <br/>{b}: {c} ({d}%)",
                "textStyle": {
                    "fontSize": 14
                },
                "borderWidth": 0,
                "padding": 5
            },
            "rippleEffect": {
                "show": true,
                "brushType": "stroke",
                "scale": 2.5,
                "period": 4
            }
        }
    ],
    "legend": [
        {
            "data": [
                "CCTV",
                "cbs",
                "\u4e0a\u6d77\u65b0\u5a31\u4e50",
                "\u4e1c\u5357\u536b\u89c6",
                "\u4e1c\u65b9\u536b\u89c6",
                "\u4e2d\u592e\u7535\u89c6\u53f0\u8d22\u7ecf\u9891\u9053 CCTV-2",
                "\u5176\u4ed6\u680f\u76ee",
                "\u5317\u4eac\u536b\u89c6",
                "\u592e\u89c6",
                "\u5b89\u5fbd\u536b\u89c6",
                "\u5e7f\u4e1c\u536b\u89c6",
                "\u6c5f\u82cf\u536b\u89c6",
                "\u6d59\u6c5f\u536b\u89c6",
                "\u6df1\u5733\u536b\u89c6",
                "\u6e56\u5357\u536b\u89c6",
                "\u7f8e\u56fd",
                "\u817e\u8baf\u7efc\u827a\u53f0",
                "\u8292\u679cTV"
            ],
            "selected": {},
            "show": false,
            "padding": 5,
            "itemGap": 10,
            "itemWidth": 25,
            "itemHeight": 14
        }
    ],
    "tooltip": {
        "show": true,
        "trigger": "item",
        "triggerOn": "mousemove|click",
        "axisPointer": {
            "type": "line"
        },
        "showContent": true,
        "alwaysShowContent": false,
        "showDelay": 0,
        "hideDelay": 100,
        "textStyle": {
            "fontSize": 14
        },
        "borderWidth": 0,
        "padding": 5
    },
    "title": [
        {
            "text": "2020\u5e74\u5404\u5e73\u53f0\u64ad\u51fa\u8282\u76ee\u6570\u91cf\u5360\u6bd4",
            "left": "center",
            "padding": 5,
            "itemGap": 10
        }
    ]
};
        chart_12c956c30b81430aa9bd8d640fc19a2b.setOption(option_12c956c30b81430aa9bd8d640fc19a2b);
    </script>
</body>
</html>
